version: '3'

services:


  app:
    build:
      context: .
      dockerfile: Dockerfile


    container_name: factu-qa-front
    image: jimloza/factuapp-qa-front:${IMAGE_TAG}
    ports:
      - ${APP_PORT}:${APP_PORT}

    # env_file:
    #   - .env.local