version: '3'

services:


  app:
    build:
      context: .
      dockerfile: Dockerfile


    container_name: factu-qa-front
    image: jimloza/factu-front:${IMAGE_TAG}
    ports:
      - "3001:3001"

    # env_file:
    #   - .env.local