on:
  push:
    branches:
      - ci-cd

jobs:
  build:
    name: Build image and push to DockerHub
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Building image and pushing to DockerHub
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
          IMAGE_TAG: ${{ github.sha }}

        run: |
          docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_TOKEN
          IMAGE_TAG="qa-$IMAGE_TAG" APP_PORT=3001 docker compose -f docker-compose.yml build 
          docker push $DOCKERHUB_USERNAME/factuapp-qa:qa-$IMAGE_TAG
