on:
  push:
    branches:
      - ci-cd

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2 # More information on this action can be found below in the 'AWS Credentials' section
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
          # role-to-assume: arn:aws:iam::123456789012:role/my-github-actions-role
          # aws-acces

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: fact-api
          IMAGE_TAG: ${{ github.sha }}
        run: |
          IMAGE_TAG="$IMAGE_TAG" docker compose -f docker-compose.yml build 
          docker push $DOCKERHUB_USERNAME/factu-front-qa:$IMAGE_TAG
